.main-header{
    position: relative;
    width: 100%;
    background:#282c34;
    height: 100px;
    color: white;
    text-transform: uppercase;
    
}
.header-logo{
    position: absolute;
    left: 21px;
    top: 15px;
}
.h1-head{
    position: absolute;
    margin: 0px;
    left: 119px;
    top: 20px;
    font-size: 40px;
}
.nav{
    list-style: none;
    position: absolute;
    top: 20px;
    right: 0px;
    padding-right: 30px;
    font-size: 18px;
    letter-spacing: 1px;
}
.nav li {
    display: inline;
    padding: 15px 25px 15px 25px;
}
.header-logo {
    animation: header-logo-spin infinite 20s linear;
    height: 70px;
    pointer-events: none;
  }
 
  .farms:hover, .home:hover, .prod:hover,
  .news:hover, .contact:hover
  {
      color: #3498db;
      font-style: bold;
  }
 
  .farms:visited, .farms:link, 
  .home:visited, .home:link,
  .prod:visited, .prod:link, 
  .news:visited, .news:link,
  .contact:visited, .contact:link
  {
      color: white;
  }

  .farms:visited:hover, .farms:link:hover, 
  .home:visited:hover, .home:link:hover,
  .prod:visited:hover, .prod:link:hover,
  .news:visited:hover, .news:link:hover,
  .contact:visited:hover, .contact:link:hover
  {
      color: #3498db;
  }

.sign-in{
    background-color: #3498db;
    color: white; 
    border-radius: 30px;
    padding: 6px 20px 6px 20px;
    box-shadow: 1px 1px 2px black;
}

.sign-in:hover {
    background-color: #1e90ff;
    box-shadow: 0px 0px 0px black;
}
.sign-in:visited:hover, .sign-in:link:hover{
    background-color: #1e90ff;
    box-shadow: 0px 0px 0px black;
}
   
 @keyframes header-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  