.login {
    
    width: 50%;
    margin: 0;
    padding: 0;
}
.lg-form {
    float: left;
    width: 40%;
    margin: 0;
    padding:0;
    
}
.img-lg{
    float: right;
    width: 60%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
}