.main-footer {
    margin: 0px 0px 0px 0px;
    font-size: 13px;
    color:white;
    text-align: center;
    background-color: #282c34;
}

.copyright{
    margin: 0;
    height: 30px;
    font-size: 16px;
    
}