.main-header{
    position: relative;
    width: 100%;
    background:#282c34;
    height: 100px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header-logo{
    position: absolute;
    left: 3vmin;
    top: 2vmin;
}
.h1-head{
    position: absolute;
    left: 17vmin;
    top: -1vmin;
    font-size: 40px;
}
.nav{
    list-style: none;
    position: absolute;
    top: 2vmin;
    right: 0px;
    padding-right: 50px;
    font-size: 22px;
}
.nav li {
    display: inline;
    padding: 15px 25px 15px 25px;
}
.header-logo {
    animation: header-logo-spin infinite 20s linear;
    height: 10vmin;
    pointer-events: none;
  }
 
  .farms:hover, .home:hover, .prod:hover,
  .news:hover, .contact:hover
  {
      color: #3498db;
      font-style: bold;
  }
 
  .farms:visited, .farms:link, 
  .home:visited, .home:link,
  .prod:visited, .prod:link, 
  .news:visited, .news:link,
  .contact:visited, .contact:link
  {
      color: white;
  }

  .farms:visited:hover, .farms:link:hover, 
  .home:visited:hover, .home:link:hover,
  .prod:visited:hover, .prod:link:hover,
  .news:visited:hover, .news:link:hover,
  .contact:visited:hover, .contact:link:hover
  {
      color: #3498db;
  }

  
   
 @keyframes header-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  