.main-header{
    position: relative;
    width: 100%;
    background:#282c34;
    height: 100px;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header-logo{
    position: absolute;
    left: 0px;
}
.h1-head{
    position: absolute;
    left: 130px;
    top: -20px;
}
.nav{
    list-style: none;
    position: absolute;
    top: 5px;
    right: 0px;
    padding-right: 50px;
}
.nav li {
    display: inline;
    padding: 15px 25px 15px 25px;
}
.header-logo {
    animation: header-logo-spin infinite 20s linear;
    height: 10vmin;
    pointer-events: none;
  }
 
  .farms:hover{
      color: #3498db;
      font-style: bold;
  }
 
  .farms:visited{
      color: none;
  }
   
 @keyframes header-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  